<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<nav id="nav" th:fragment="copy">
    <div class="logo_div">
        <a th:href="@{/}"><img th:src="@{/images/logo_black.png}" class="logo_pic"></a>
    </div>
    <ul>
        <li><a href="index.html" th:href="@{/}">HOME</a></li>
        <li><a href="member.html" th:href="@{/member}">MEMBER</a></li>
        <li><a href="thesis.html" th:href="@{/thesis}">PUBLICATION</a></li>
        <li><a href="notice.html" th:href="@{/notice}">NOTICE</a></li>
        <li><a href="Photo.html">PHOTO</a></li>
        <li><a href="History.html">HISTORY</a></li>
    </ul>
</nav>
